
.NewContainer{
    padding: 10px;
   
}

.cardbox{
    padding: 10px;
    width: 290px;
}

.playbtn{
   position: absolute;
   left: 42%;
   margin-top: -75%;
   z-index: 7000;
}

#graph{
    position: absolute;
    margin-top: -20%;
    margin-left: -2%;
}

.itemcon{
    display: flex
    }

/* .wavecon{
    position: absolute;
    margin-top: -47%;
} */

.mapcon{
    display: block;
    }


/* #waveform{
    position: absolute;
    margin-top: -47%;
    margin-left: -2%;
}

.covercon{
    display: flex;
}

.waveform{
    position: absolute;
    margin-top: -7%;
    margin-left: -2%;
}

.wavewrap{
    display: flex;
}

#wavethree{
    position: absolute;
    margin-top: -47%;
    margin-left: -2%;
}

.mapcon{
    display: flex
    } */