#container{
    /* background: #DFA3D7;
    background: -webkit-linear-gradient(left, #DFA3D7, #C6D366);
    background: -moz-linear-gradient(left, #DFA3D7, #C6D366); */
    background: linear-gradient(to right, #e1acda, #dbd8bdfb, #fdf492e4);
}